html,
body {
  height: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
}

button {
  outline: none;
  border: none;
}

h1 {
  color: #000044;
  font-size: 90px;
  font-family: lobster;
  text-align: center;
  height: 300px;
  padding-top: 0px;
  background-repeat: no-repeat;
  background-position: top center;
}

header {
  background-image: url(img/it_header.png);
  height: 250px;
  padding-top: 150px;
}

nav {
  background-color: #663300;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav ul {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

nav li {
  display: inline-block;
  margin-right: 40px;
}

nav a {
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  color: #ffcc11;
}

.shop {
  background-color: #ffffee;
  color: #663300;
  padding: 30px;
}

.title {
  font-size: 30px;
  border-left-style: solid;
  border-left-width: 10px;
  padding-left: 15px;
  margin-bottom: 50px;
}

.shop p {
  font-size: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 30px;
  height: 300px;
}

.shop img {
  float: right;
}

.photo {
  padding: 30px;
  background-image: url(img/wood.jpg);
}

.photo h2 {
  color: #ffffff;
  border-color: #ffcc11;
}

.photo h3 {
  color: #663300;
}

.photo p {
  color: #ffffff;
  clear: left;
}

.big {
  background-color: #ffffff;
  width: 500px;
  padding: 15px;
  margin: 20px;
  box-shadow: 10px 10px 20px #000000;
  float: left;
  transform: rotate(-5deg);
}

.small {
  background-color: #ffffff;
  width: 240px;
  padding: 15px;
  margin: 20px;
  box-shadow: 10px 10px 20px #000000;
}

.box {
  float: left;
}

.price {
  padding: 30px;
  background-image: url(img/wood.jpg);
}

.price h2 {
  color: #ffffff;
  border-color: #ffcc11;
}

.price table {
  background-color: #ffffdd;
  border-collapse: collapse;
  width: 100%;
}

.price td {
  border: 1px solid #000000;
  padding: 10px;
}

.price th {
  border: 1px solid #000000;
  padding: 10px;
  background-color: #ffcc11;
  text-align: left;
}

.season th {
  background-color: #33ddcc;
}

.access {
  padding: 30px;
  background-color: #ffffdd;
  height: 400px;
  color: #663300;
}

.access h3 {
  font-size: 50px;
  font-family: lobster;
  margin-top: 0px;
}

.access ul {
  list-style-type: none;
  padding-left: 0px;
}

.access div {
  float: left;
  width: 50%;
}

footer {
  text-align: center;
  background-color: #663300;
  color: #ffffff;
}
